<!DOCTYPE html>
<html>
    <head>
        <title>Hourly attendance</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        

    </head>
    <body>

    <nav class="navbar navbar-dark bg-dark mb-5">
        <span class="navbar-brand mb-0 h1">Hourly Attendance System</span>
    </nav>

<div class = "container shadow p-3 pt-5 b-5 bg-white rounded"> 


    

       
        
   

    <table class="table">
        <thead class = "thead-dark">
            <tr>
            
            <th scope="col">Roll No</th>
            <th scope="col">Classes Attended</th>
           
            </tr>
        </thead>
    <tbody>
        <tr>
            
            <td class = "rowentry"></td>
            <td class = "secondrowentry"></td>
                        
        </tr>
       

</div>

















        
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script type="text/javascript">
            var API_URL = 'https://69gb9h2hml.execute-api.us-east-1.amazonaws.com/nodejs/entries';

            $(document).ready(function(){
                $.ajax({
                    type: "GET",
                    url: API_URL,
                    success: function(data){
                        $('#entries').html('');

                        data.Items.forEach(function(guestbookEntry){
                            $('.rowentry').append('<p>' + guestbookEntry.people_counting + '</p>');
                            $('.secondrowentry').append('<p>' + guestbookEntry.count + '</p>');    
                        });
                    }
                });
            });

           /* $('#submitButton').on('click', function(){
                $.ajax({
                    type: "POST",
                    url: API_URL,
                    data: JSON.stringify({ "message": $('#msg').val()}),
                    contentType: "application/json",
                    success: function(data){
                        location.reload();
                    }
                });

                return false;
            });*/

        </script>

    </body>
</html>